@model IEnumerable<ProyectoPIALabPrograWebTienda.Models.dbModels.Categorium>

@{
    ViewData["Title"] = "Index";
}

<h1>Menú de Categorías</h1>

<p>
    <a asp-action="Create">Crear Nueva Categoría</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idcategoria">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Idcategoria">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Idcategoria">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
