@model IEnumerable<ProyectoPIALabPrograWebTienda.Models.dbModels.Producto>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

@section CSS{
    <link rel="stylesheet" href="~/css/Productos.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/DataTables-1.13.1/css/dataTables.bootstrap5.min.css" />
}

<body>
<h1>Menú Productos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crear Nuevo Producto</a>
       
</p>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Categoria
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcategoriaNavigation.Nombre)
            </td>
            <td>
                    <img src="~/Fotos/Productos/@Html.DisplayFor(modelItem => item.Imagen)">
            </td>
            <td>

                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Idproducto">Editar</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Idproducto">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Idproducto">Eliminar</a>
            </td>
        </tr>
        

}   
    </tbody>
    
</table>


<!-- Importamos JQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/lib/datatables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>

</body>

